{% extends "dankswank/base.html" %}
{% load staticfiles %}

{% block header %}
<script type="text/javascript" src="{% static "bootstrap-table/dist/bootstrap-table-all.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-table/dist/bootstrap-table.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "movies/style.css" %}">
<script type="text/javascript" src="{% static "movies/main.js" %}"></script>
{% endblock %}

{% block content %}
<div class="left">
    <img id="main-logo" src="{% static "dankswank/imgs/dankswank_logo.png" %}" height=80>
</div>
<div id="update-box" class="right">
    Current as of {{ last_update }}
</div>
<table
       id="table"
       class="cursor-default"
       class="clear"
       data-toggle="table"
       data-minimum-count-columns="2"
       data-url="{% url "movie-list" %}"
       data-row-style="rowStyle"
       data-sort-name="college_release_date"
       data-sort-order="asc">
    <thead>
        <tr>
        {% for key, attr in movie_attributes %}
            {% if key == 'college_release_date' %}
            <th data-field="{{ key }}" data-sortable="true" data-sorter="dateSorter" data-formatter="collegeReleaseColumnFormatter">
            {% elif key == 'home_release_date' %}
            <th data-field="{{ key }}" data-sortable="true" data-sorter="dateSorter">
            {% elif key == 'gross' %}
            <th data-field="{{ key }}" data-sortable="true" data-sorter="grossSorter">
            {% elif key == 'title' %}
            <th data-field="{{ key }}" data-sortable="true" data-formatter="titleColumnFormatter">
            {% else %}
            <th data-field="{{ key }}" data-sortable="true">
            {% endif %}
                {{ attr }}
            </th>
        {% endfor %}
        </tr>
    </thead>
</table>
{% endblock %}